body {
    padding: 0;
    margin:0;
    background:linear-gradient(to right, white, #DC143C)
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calcbtns {
    display: flex;
    flex-wrap: wrap;
    gap:2px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding:5px;
    width:242px;
    border-color: black;
    border-width: 10px;
    border-style: solid;
    background-color: white;
    margin-top: 150px;
    
}

.outerdisp {
    border-style: solid;
    width:235px;
    height:60px;
    text-align: right;
    font-family:'digital-clock-font';
    font-size:35px;
    position: relative;
    background-color: white;
    
}
.disp {
    position:absolute;
    bottom:0;
    right:0;
    
}

button {
    font-size:30px;
    float: left;
    width:60px;
    height:60px;
    cursor: pointer;
    color: #DC143C;
}

#r1btns {
    width:120px;
    height:60px;
    font-size: 30px;
    background-color: #DC143C;
    color: white;
}

@font-face{
    font-family:'digital-clock-font';
    src: url('radioland.regular.ttf');
   }